<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozastore - Log In</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
        <%- include('nav')%>
        <section class="line-section">
            <h2>Log In</h2>
        </section>
        <div class="box">
            <div class="in-box">
                <form action="/user/login" method="post">
                    <input type="text" name="email" placeholder="Your Email Address" required><br>
                    <input type="text" name="password" placeholder="Enter Password" required><br>
                    <a href="/user/mail" style="display: flex; margin-bottom: 15px; margin-left: 10px; font-size: 15px; font-weight: 600; color: #717fe0;"
                    >Forget Password</a>
                    <button type="submit" class="user-btn">log in</button>
                </form>
            </div>
        </div>
        <%- include("footer") %>
</body>
</html>